nav {
    height: 50px;
    background-color: lightgrey;
  }
  .inline-block {
    padding: 15px;
    display: inline-block;
  }
  .left {
    float: left;
    height: 500px;
    background-color: lightblue;
    width: 30%;
    text-align: center;
  }
  .right {
    float: left;
    background-color: darkblue;
    height: 250px;
    width: 70%;
    text-align: center;
    color: white;
  }
.petname {
  height: 250;
  text-align: center
}

h1 {
  color: white;
}

h2 { 
color: black;
  text-align: center;
}
.topImage {
  float: left;
  padding-right: 15px;
}
